﻿
@{
    ViewBag.Title = "BootstrapHolder";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/BootstrapHolder.js")"></script>
}

<h2>Bootstrap Holder</h2>

<div id="MessagePosition"></div>

<br />

<div>
    <br />
    <p>
        <code>
            $("#MessagePosition").BroadCast({ <br />
            application: systemIdentifier, <br />
            url: "http://dev.amtrusteurope.com/BroadCastApiService/api/messages/GetMessage", <br />
            key: "0DCEA845857949C5965E5B2B371A83C2", <br />
            bootstrap: true <br />
            });
        </code>
    </p>
    <br />
</div>

