﻿
@{
    ViewBag.Title = "BootstrapTop";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/BootstrapTop.js")"></script>
}

<h2>Bootstrap Top</h2>

<br />

<div>
    <br />
    <p>
        <code>
            var alertNow = $.ApplicationAlert( { <br />
            application: systemIdentifier, <br />
            url: "http://dev.amtrusteurope.com/BroadCastApiService/api/messages/GetMessage", <br />
            key: "0DCEA845857949C5965E5B2B371A83C2", <br />
            bootstrap: true, <br />
            position: "Top" <br />
            }).Show();
        </code>
    </p>
    <br />
</div>