﻿
@{
    ViewBag.Title = "CssHolder";
    Layout = "~/Views/Shared/_LayoutCss.cshtml";
}


@{
    ViewBag.Title = "CssHolder";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/CssHolder.js")"></script>
}

<h2>Css Holder</h2>

<div>
    <br />
    <p>
        <code>
            $("#BroadcastPosition").BroadCast({ <br />
            application: systemIdentifier, <br />
            url: "http://dev.amtrusteurope.com/BroadCastApiService/api/messages/GetMessage", <br />
            key: "0DCEA845857949C5965E5B2B371A83C2", <br />
            bootstrap: false, <br />
            });
        </code>
    </p>
    <br />
</div>

<div>
    <p>
        I think it's kind of a bad idea to suggest that notes like these are, or should be, used in place of actual reading. 
        To begin with, you might pass but you won't excel; also, it gives a bad name to anyone who uses the materials for legitimate, 
        non-shirky reasons (because people will see you with the notes and assume it's the "secret" of your success, when the secret is actually just doing the work).
    </p>
</div>

<div id="MessagePosition"></div>

<div>
    <br />
    <p>
        <code>
        $("#BroadcastPosition").BroadCast({ <br />
            application: systemIdentifier, <br />
            url: "http://dev.amtrusteurope.com/BroadCastApiService/api/messages/GetMessage", <br />
            bootstrap: false, <br />
            width:'75' <br />
        });
        </code>
    </p>
    <br />
</div>

<div id="BroadcastPosition"></div>


