﻿
@{
    ViewBag.Title = "HowTo";
}

@section Scripts
{

}

<h2>HowTo</h2>
 
<h4>Overview</h4>
<p>
    Enables a broadcast message to be configured and displayed within applications. 
    <br /><br />
    The broadcast message consists of two separate parts: Broadcast message configuration and the broadcast message display within your application.
</p>

<h4>Broadcast Message</h4>
<div>
    Web application used to create and amend message(s) for applications.
</div>

<h4>Broadcast Application</h4>
<p>The broadcast message is a JQuery extension with two extensions for displaying a message depending on if using a selector</p>
<div>
    <span style="color:lightblue;">Requirements</span>
    <p>
        BroadCast.js - script file containing broadcast message code.<br />
        JQuery - standard JQuery library.<br />
        <br />
        For security restrictions a key is required for the API call to be accepted. The key is passed as an option/setting parameter:
        <br />
        <br />
        key: "0DCEA845857949C5965E5B2B371A83C2"
    </p>

    <span style="color:lightblue;">Options / settings</span>
    <p>
        Some of the options you will find useful:
        <br />
        <br />
        <span style="color:darkred">application: (option)</span> - systemIdentifier of application, required <br />
        <span style="color:darkred">url: (option)</span> - url of api server http://dev.amtrusteurope.com/BroadCastApiService/api/messages/GetMessage, required <br />
        <span style="color:darkred">key: (option)</span> "0DCEA845857949C5965E5B2B371A83C2", required <br />
        <span style="color:darkred">bootstrap: (option)</span> - use bootstrap true or false <br />
        <span style="color:darkred">position: (option)</span> - position message will appear on screen Top,Bottom <br />
        <span style="color:darkred">width: (option)</span> - width of message box as a percentage<br />
    </p>
</div>