﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/BroadCast")

    @RenderSection("scripts", required: false)

</head>
<body style="padding-top:5px;">

    <div style="margin:20px;">
        <div>
            @Html.ActionLink("BroadCast", "Index", "Home", null, new { @class = "" })
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })
        </div>
    
        <div class="contents">
            @RenderBody()
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>
